<html lang="en">
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<h1>{{title}}</h1>

		<img src="/img/me.jpg" alt="Selfie" width="300" height="auto" />
		<h3>
			{{description}}
		</h3>
	</body>
</html>